@{
    ViewBag.Title = "Admin";
   
}
<h2>Admin Page</h2>
<ul>
    <li class="btn"><a href="/admin/newpost">New Post</a></li>
    <li class="btn"><a href="/admin/newuser">New User</a></li>
    <li class="btn"><a href="/admin/newauthor">New Author</a></li>
</ul>
