@using Blog.Entities
@model IEnumerable<Blog.Entities.Comment>

@foreach (Comment comment in Model)
{
    if (comment.ReplyId == null)
    {
        <div class="col-md-3">
            <p>@comment.CommentContent</p>
        </div>
    }
    else
    {
        <div class="col-md-3 col-md-offset-1">
            <p>@comment.CommentContent</p>
        </div>
    }
}