@{
    ViewBag.Title = "NewUser";
}

<h2>NewUser</h2>
<form action="/home/createUser" method="POST">
    <input type="text" name="firstName" placeholder="First Name"/>
    <input type="text" name="lastName" placeholder="Last Name"/>
    <input type="text" name="email" placeholder="Email"/>
    <input type="submit" value="Submit"/>
</form>

